body {
  background-color: #0F2A2E;
  /*background-image: url('../images/brick.png');
  background-size:cover;*/
}

canvas {
	border: 3px solid #C6D3EC;
}

.start-page {
  text-align: center;
  position: relative;
  top: 169px;
}

.menu {
  width: 200px;
  height: 80px;
  border: 2px solid white;
  position: relative;
  text-align: center;
  padding-top: 13px;
  display: inline-block;
  left: 538px;
  top: 130px;
}

p {
  color: white;
}

p.how {
  color: #C6D3EC;
}

#startButton {
  background-color: #0F2A2E;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #C6D3EC;
  width: 70px;
  height: 30px;
}

#startButton:hover {
  color: white;
}
